body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 20px;
}


h1 {
    color: #2876c4;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.convert {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.2em;
    color: #34495e;
}

input[type="number"] {
    width: 20%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    margin-bottom: 2px;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}


p {
    font-size: 1.2em;
    color: #2c3e50;
}


.info {
    background-color: #ecf0f1;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.info h2 {
    font-size: 1.5em;
    color: #2c3e50;
    margin-bottom: 10px;
}

.info p {
    font-size: 1.2em;
    color: #34495e;
    margin: 5px 0;
}

#hasil {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 0;
    display: block;
    width: 10%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}